html {
  width: 100%;
}
body {
  min-width: 1024px;
  min-height: 100vh;
  color: #fff;
  background: url(../img/bj.png);
  background-size: 100% 100%;
  background-position: 0 0;
  border: 1px solid transparent;
  background-repeat: no-repeat;
}
.viewport {
  margin: 0 auto;
  background: url(../img/head.png) no-repeat 0 0 / contain;
  padding-top: 5%;
  box-sizing: border-box;
}
.part-one {
  display: flex;
}
.part-one .part-one-left {
  width: 25%;
  padding-left: 6%;
}
.part-one .part-one-left .menu .menu-item {
  /* width: 204px;
  height: 60px; */
  width: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-align: center;
  padding: 5% 0px;
}
.no-active-menu-item {
  background: url('../img/border1.png');
}
.active-menu-item {
  background: url('../img/border2.png');
}
.part-one .part-one-left .menu > .menu-item:not(:last-child) {
  margin-bottom: 4%;
}
.part-one .part-one-middle {
  width: 50%;;
  margin: 3% 2%;
  
}
.crew {
  width: 100%;
  position: relative;
}
.part-one .part-one-middle .crew .pump {
  width: 100%;
  display: block;
}
.crew1 {
  display: block;
}
.crew2 {
  display: none;
}
.part-one .part-one-middle .crew .bearing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.part-one .part-one-middle .crew .bearing .status{
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
.crew2 .bearingA {
  position: absolute;
  left: 16%;
  top: 10%;
}
.crew2 .bearingB {
  position: absolute;
  left: 44%;
  top: 15%;
}
.crew2 .bearingC {
  position: absolute;
  left: 66%;
  top: 13%;
}
.crew2 .bearingD {
  position: absolute;
  left: 77%;
  top: 25%;
}
.crew1 .bearingA {
  position: absolute;
  left: 30%;
  top: 10%;
}
.crew1 .bearingB {
  position: absolute;
  left: 31%;
  top: 70%;
}
.bearing .normal {
  background: url('../img/normal.png') no-repeat center;
  background-size: 100% 100%;
}
.bearing .alarm {
  background: url('../img/alarm.png') no-repeat center;
  background-size: 100% 100%;
}
.bearing .damage {
  background: url('../img/damage.png') no-repeat center;
  background-size: 100% 100%;
}

.part-one .part-one-middle  .test {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  position: absolute;
  left: 61.5%;
  top: 11.5%;
}
.part-one .part-one-right {
  width: 25%;
  padding-right: 4%;
  box-sizing: border-box;
}
.part-one .part-one-right .warning-box {
  height: 50%;
  background: url("../img/box1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  padding-top: 8%;
}
.part-one .part-one-right .warning-box .warning-box-title {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
.part-two {
  margin: 1% 1% 0px;
}
.part-two .part-two-title {
  width: 20%;
  background:url(../img/table-title.png) no-repeat;
  background-size: 100% 100%;
  margin: 0px auto;
}
.part-two-center {
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
}
.part-two  .table-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 5px;
  border: 1px solid rgba(68, 88, 177, 0.5);
  overflow: hidden;
}
.part-two  .table-list > .table:first-child {
  width: 18%;
}
.part-two  .table-list > .table:first-child .table-head .table-tr .table-th{
  height: 60px;
  line-height: 60px;
}
.part-two  .table-list > .table:not(:first-child) {
  flex: 1;
  margin-left: 0.2%;
}
.part-two  .table-list > .table:not(:first-child) .table-head .table-tr .table-th{
  height: 30px;
  line-height: 30px;
}
.part-two  .table-list .table .table-head {
  background-color:rgba(68, 88, 177, 0.2);
}
.table {
  margin-bottom: 0px;
}
.table .table-tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table .table-tr .table-td,
.table .table-tr .table-th {
  flex: 1;
  text-align: center;
  font-size: 12px;
}
.table .table-body .table-tr .table-td {
  height: 30px;
  width: 100%;
  line-height: 30px;
}
.table .table-body .table-tr:nth-child(even) {
  background-color:rgba(68, 88, 177, 0.2);
}
.table-footer .details {
  font-size: 12px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.table-footer .details span {
  cursor: pointer;
  color: rgba(105, 239, 98, 1);
}